/* Styles specific to ActionMoviesListComponent */

/* Example styling for movie list */
.movies-container {
  display: grid;
  padding-inline: 30px;
  margin-block: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movie-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.movie-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.movie-genre {
  color: #555;
  margin-bottom: 5px;
}

.movie-release-year {
  color: #777;
}

.no-movies {
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

/* .movies {
   font-family: Arial, sans-serif;
   margin: 20px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 20px;
 } */