.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.card-body {
    padding: 20px;
}

.movie-info {
    margin-bottom: 15px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-delete {
    background-color: #dc3545;
}