<div class="add-page">
    <h2>Add a New Movie</h2>

    <form (ngSubmit)="updateMovie()" #movieForm="ngForm" class="form-container">
        <!-- <div>
      <label for="movieId">movieId:</label>
      <input type="number" id="movieId" name="movieId" [(ngModel)]="newMovie.movieId" required>
    </div> -->
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" [(ngModel)]="newMovie.title" required>
        </div>
        <div>
            <label for="title">Duration:</label>
            <input type="text" id="title" name="duration" [(ngModel)]="newMovie.duration" required>
        </div>

        <div>
            <label for="genre">Genre:</label>
            <select id="movieGenre" name="genre" [(ngModel)]="newMovie.genre">
                <option value="action">Action</option>
                <option value="comedy">Comedy</option>
            </select>
            <!-- <input type="text" id="genre" name="genre" [(ngModel)]="newMovie.genre" required> -->
        </div>

        <div>
            <label for="releaseYear">Release Year:</label>
            <input type="number" id="releaseYear" name="releaseYear" [(ngModel)]="newMovie.releaseYear" required>
        </div>

        <button type="submit" [disabled]="!movieForm.valid">Add Movie</button>
    </form>
</div>